<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddsManager | Showing Ads</title>
    <meta http-equiv="refresh" content="20">
</head>
<body>
    <div style="width: 1200px; padding: 10px; height: 800px;" id="top">
        <h3><strong>{{ 1.name }}</strong></h3>
        <iframe width="1160" height="1400" src="{{ 1.address }}" script="window.scrollBy(0, 1400);" frameborder="5"  allowfullscreen></iframe>
    </div>
    <div id="bottom">
        Bottom
    </div>


<script>
    window.scrollBy(0, 1400);
</script>
</body>
</html>